---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import CodeDemo from '../components/CodeDemo.astro';
import Features from '../components/Features.astro';
import GettingStarted from '../components/GettingStarted.astro';
import LanguageFeatures from '../components/LanguageFeatures.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <div class="flex flex-col min-h-full">
    <Header />
    <main class="flex-1">
      <Hero />
      <CodeDemo />
      <Features />
      <GettingStarted />
      <LanguageFeatures />
    </main>
    <Footer />
  </div>
</Layout>
